In [1]:
import pandas as pd

In [42]:
file_path = r'C:\Users\User\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv'

df = pd.read_csv(file_path, encoding='latin-1')

In [43]:
print(df.head())

   Area Code     Area  Item Code         Item  Element Code
0          4  Algeria       2501   Population           511  \
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014
0           Total Population - Both sexes     1000 persons  38924.00  \
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

In [44]:
df.describe(include = 'all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [10]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [13]:
grouped_data = df.groupby('Element')['Element'].sum()
print(grouped_data)

Element
Domestic supply quantity                  Domestic supply quantityDomestic supply quanti...
Export Quantity                           Export QuantityExport QuantityExport QuantityE...
Fat supply quantity (g/capita/day)        Fat supply quantity (g/capita/day)Fat supply q...
Feed                                      FeedFeedFeedFeedFeedFeedFeedFeedFeedFeedFeedFe...
Food                                      FoodFoodFoodFoodFoodFoodFoodFoodFoodFoodFoodFo...
Food supply (kcal/capita/day)             Food supply (kcal/capita/day)Food supply (kcal...
Food supply quantity (kg/capita/yr)       Food supply quantity (kg/capita/yr)Food supply...
Import Quantity                           Import QuantityImport QuantityImport QuantityI...
Losses                                    LossesLossesLossesLossesLossesLossesLossesLoss...
Other uses (non-food)                     Other uses (non-food)Other uses (non-food)Othe...
Processing                                ProcessingProcessingProcessingProcessingProces...
Production                                ProductionProductionProductionProductionProduc...
Protein supply quantity (g/capita/day)    Protein supply quantity (g/capita/day)Protein ...
Residuals                                 ResidualsResidualsResidualsResidualsResidualsR...
Seed                                      SeedSeedSeedSeedSeedSeedSeedSeedSeedSeedSeedSe...
Stock Variation                           Stock VariationStock VariationStock VariationS...
Total Population - Both sexes             Total Population - Both sexesTotal Population ...
Tourist consumption                       Tourist consumptionTourist consumptionTourist ...
Name: Element, dtype: object

In [14]:
grouped_data.describe(include = 'all')

count                                                    18
unique                                                   18
top       Domestic supply quantityDomestic supply quanti...
freq                                                      1
Name: Element, dtype: object

In [18]:
grouped_data = df.groupby('Element').agg({
    'Y2017': 'sum'
    
})

In [19]:
grouped_data

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00

In [20]:
filtered_df = df[df['Element'] == 'Stock Variation']

In [21]:
filtered_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.0,1663.0,905.0,705.0,2226.0
29,4,Algeria,2511,Wheat and products,5072,Stock Variation,1000 tonnes,487.0,1401.0,731.0,546.0,1927.0
45,4,Algeria,2805,Rice and products,5072,Stock Variation,1000 tonnes,8.0,-2.0,-4.0,17.0,37.0
60,4,Algeria,2513,Barley and products,5072,Stock Variation,1000 tonnes,42.0,82.0,55.0,16.0,134.0
75,4,Algeria,2514,Maize and products,5072,Stock Variation,1000 tonnes,146.0,177.0,122.0,127.0,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...
60842,181,Zimbabwe,2763,Pelagic Fish,5072,Stock Variation,1000 tonnes,0.0,0.0,0.0,0.0,0.0
60853,181,Zimbabwe,2764,"Marine Fish, Other",5072,Stock Variation,1000 tonnes,0.0,0.0,0.0,0.0,0.0
60914,181,Zimbabwe,2928,Miscellaneous,5072,Stock Variation,1000 tonnes,0.0,0.0,0.0,-4.0,0.0
60924,181,Zimbabwe,2680,Infant food,5072,Stock Variation,1000 tonnes,0.0,0.0,0.0,0.0,0.0
60934,181,Zimbabwe,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,0.0,0.0,0.0,-4.0,0.0

In [22]:
grouped_data = filtered_df.groupby('Element').agg({
    'Y2014': 'sum',
    'Y2015': 'sum',
    'Y2016': 'sum',
    'Y2017': 'sum',
    'Y2018': 'sum'
})

print(grouped_data)

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

In [23]:
ranked_sums = grouped_data.rank(axis=1, ascending=False)

In [24]:
ranked_sums

                 Y2014  Y2015  Y2016  Y2017  Y2018
Element
Stock Variation    1.0    3.0    4.0    2.0    5.0

In [25]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [28]:
x = y[1][1]

In [29]:
x

8

In [32]:
total_missing = df['Y2014'].isna().sum()

In [33]:
total_missing

1589

In [34]:
percentage_missing = (total_missing / len(df)) * 100

In [35]:
percentage_missing

2.6073544131401474

In [36]:
area_group = df.groupby('Area')['Y2017'].sum()

In [37]:
area_group

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [38]:
max_area = area_group.idxmax()

In [39]:
max_area

'Nigeria'

In [49]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]

col = ['Age', 'Nationality', 'Overall']

df_2 = pd.DataFrame(lst, columns=col, index = [1,2,3])

In [50]:
df_2

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [57]:
mean_y2017 = round(df['Y2017'].mean(),2)
std_y2017 = round(df['Y2017'].std(),2)

In [58]:
mean_y2017

140.92

In [59]:
std_y2017

1671.86

In [60]:
wine_df = df[df['Item'] == 'Wine']

In [61]:
sum_y2015 = wine_df['Y2015'].sum()
sum_y2018 = wine_df['Y2018'].sum()

In [62]:
sum_y2015

4251.8099999999995

In [63]:
sum_y2018

4039.3199999999997

In [64]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [68]:
array[1:,:]

TypeError: list indices must be integers or slices, not tuple

In [69]:
unique_countries = df['Area'].nunique()

In [70]:
unique_countries

49

In [71]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'